<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doc3"
        android:label="Smart Health Care Application"
        android:roundIcon="@drawable/doc3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".patient_processed_appointments"></activity>
        <activity android:name=".processed_appointments" />
        <activity android:name=".appointment_date_time" />
        <activity android:name=".pending_appointment_list" />
        <activity android:name=".Doctor_Registration" />
        <activity android:name=".doctor_main" />
        <activity android:name=".doctor_login_panel" />
        <activity android:name=".Patient_Temperature" />
        <activity android:name=".patient_personal_detail" />
        <activity android:name=".appointment" />
        <activity
            android:name=".Splash"
            android:label="Smart Health Care Application"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Doctor_Section" />
        <activity android:name=".SelectionScreen" />
        <activity android:name=".user_registration" />
        <activity android:name=".Items" />
        <activity android:name=".Home" />
        <activity android:name=".Login" />
    </application>

</manifest>